{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "cypress/globals": true
  },
  "settings": {
      "import/resolver": {
          "node": {
              "extensions": [".js", ".jsx", ".ts", ".tsx"],
              "moduleDirectory": ["node_modules", "src/"]
          }
      }
  },
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": ["cypress", "react-hooks"],
  "rules": {
    "linebreak-style": 0,
    "react/no-children-prop": 0,
    "cypress/no-assigning-return-values": "error",
    "cypress/no-unnecessary-waiting": "error",
    "cypress/assertion-before-screenshot": "warn",
    "cypress/no-force": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-indent" : ["error", 2],
    "react/react-in-jsx-scope": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error"
  }
}